<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet href="/static/reset.css">
        {{template "head" .}}
    </head>

    <body>
        <div class="container">
            {{template "content" .}}
        </div>
        <div class="footer">
          {{include "layouts/footer"}}
        </div>

        <!-- sockjs -->
        <script type="text/javascript" src="/static/sockjs/sockjs.min.js"></script>
        <script type="text/javascript" src="/static/sockjs/stomp.js"></script> 
        <script type="text/javascript" src="/static/jquery/jquery-3.5.1.min.js"></script>
        {{template "scripts" .}}
    </body>
</html>
